
html {
  font-family: Arial, Helvetica, sans-serif;
background-color: red;
}

#background-image {
  /* background-color: #F9F1DA;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: auto; 
  min-width: initial;
  margin: 0; */
  min-height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  object-fit: cover;
}

#title {
   /* background-color: rgb(219, 135, 24);
  width: 100%;
  top: 0;
  left: 0;
position: fixed; */
  text-align: center;

}


h1 {
  font-size: 6em;
}



#description {
  font-size: 1.5em;
  font-weight: bolder;
  text-align: center;
}

.flex-outer {
    display: flex;
  flex-wrap: wrap;
  /* align-items: center; */
  min-width: 100%;
  margin: 10px;
  font-size: 1.5em;
  line-height: 1.5;
  /* margin-bottom: 20px; */
}





input[type="radio"] {
  height: 30px;
  width: 30px;
  /* transform: scale(1.5);
    -ms-transform: scale(1.5); IE 9
  -webkit-transform: scale(1.5); Chrome, Safari, Opera */
  
}

input[type="checkbox"] {

  height: 30px;
  width: 30px;
}
/* The transform property can also enlarge a radio (or checkbox) button, but it is reported that it also makes it blurry. Height and width are the only OTHER ways to adjust the size without implementing a replacement radio button for 'selected' and 'not-selected' I pulled the information from here: https://stackoverflow.com/questions/4920281/how-to-change-the-size-of-the-radio-button-using-css  */

#survey-form {

font-size: 1.2em;
font-weight: bold;
width: 50vw;
min-width: 650px;
margin-left: auto;
margin-right:auto;
/* background-color: rgb(219, 135, 24); */
background-color: #97B1C0;
border: 2px solid black;
border-radius: 3%;
padding: 40px;
opacity: .85;

}

#name, #email, #number, #dropdown {
margin-bottom: 20px;
}

input[type="radio"] {

}


/* .name {
  onfocus="this.value=''"
} */


/* media query if width is smaller than x resize title font. */

@media (max-width:1000px) {
  h1 {
    font-size: 4em;
  }
  #description {
    font-size: 1em;
  }
  /* adding comment to push git upload so sync */
}

/* Should I adjust the color of the form for more pop? */