
html {
  font-family: Arial, Helvetica, sans-serif;
  /* Set primary font for entire page, with 2 backup fonts */
}

#background-image {
  min-height: 100vh;
   width: 100%;
  /* Necessary to stretch across entire viewport. Slight stretch in graphics, but neglegible */
  position: fixed;
  /* Fixed property allows for non-movement, to be removed from flow, and the following properties: */
  top: 0;
  left: 0;
  z-index: -1;
  /* Ensure the background does not overlap the form div */
  object-fit: cover;
  /* Min-height must also be used for this background graphic */
}

#title {
   /* background-color: rgb(219, 135, 24);
  width: 100%;
  top: 0;
  left: 0;
  position: fixed; */
  text-align: center;
}

h1 {
  font-size: 6em;
}

#description {
  font-size: 1.5em;
  font-weight: bolder;
  text-align: center;
}

.flex-outer {
  /* I applied the "flex-outer" class to separate elements so that I can use flexbox for each element */
  display: flex;
  flex-wrap: wrap;
  min-width: 100%;
  margin: 10px;
  font-size: 1.5em;
  line-height: 1.5;
}

input[type="radio"] {
  height: 30px;
  width: 30px;
   /* transform: scale(1.5);
    -ms-transform: scale(1.5); IE 9
  -webkit-transform: scale(1.5); Chrome, Safari, Opera */
}

input[type="checkbox"] {
  height: 30px;
  width: 30px;
}
/* The transform property can also enlarge a radio (or checkbox) button, but it is reported that it also makes it blurry. Height and width are the only OTHER ways to adjust the size without implementing a replacement radio button for 'selected' and 'not-selected' I pulled the information from here: https://stackoverflow.com/questions/4920281/how-to-change-the-size-of-the-radio-button-using-css  */

input[type="submit"] {
  display: block;
  margin: 0 auto;
}
/* Display: block; is necessary for the submit text to be centered on the form.
  See: https://stackoverflow.com/questions/4221263/center-form-submit-buttons-html-css#:~:text=use%20text%2Dalign%3Acenter%20on,it%20in%20the%20parent%20container. */

#survey-form {
/* The "flex-outer" flexbox will operate inside this id */
font-size: 1.2em;
font-weight: bold;
width: 50vw;
min-width: 650px;
margin-left: auto;
margin-right:auto;
background-color: #5d98bb;
border: 2px solid black;
border-radius: 3%;
padding: 40px;
opacity: .85;
}

#name, #email, #number, #dropdown {
margin-bottom: 20px;
/* Using these ids to create a separation between elements */
}

@media (max-width:1000px) {
  h1 {
    font-size: 4em;
  }
  #description {
    font-size: 1em;
  }
  /* Media query reduces size of the elements if web page (Viewport) is smaller than 1000px */
}
